#table1 {
    overflow-x: scroll;
}

body {
    overflow-x: scroll;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8a9eff; 
    border-radius: 10px;
  }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #b30000; 
//   }

.u-bg1 {
    background-color: rgb(255, 255, 0);

    td {
        background-color: rgb(255, 255, 0);
    }
}

.u-bg2 {
    background-color: rgb(196, 215, 155);
}

.u-bg3 {
    background-color: rgb(146, 208, 80);
}
  

table {
    font-size: 1.6rem;

    tr {
        td,th {
            border-left: 1px solid #000;
            border-top: 1px solid #000;
            font-weight: 700;
        }

        td {
            height: 6.5vh;
        }
    }

    thead {
        .row-timeline {
            th {
                width: 5.5rem;
                min-width: 5.5rem;
            }
        }

        th {
            padding: 5px;
        }

        tr {
            th {
                width: 5.5rem;
                min-width: 5.5rem;
                text-align: center;
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: right;
                padding: 0 5px;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    text-align: left;
                    
                }

                &:nth-child(1), 
                &:nth-child(2) {
                    background-color: rgb(196, 215, 155);
                }

                &:nth-child(3) {
                    min-width: 12vw;
                    background-color: rgb(197, 217, 241);
                }
            }

            &.u-bg1 {
                td {
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        background: rgb(255, 255, 0);
                    }
                }
            }
        }
    }
}

.time-line0 {
    background-color: #ffcc98;
}

.time-line1 {
    background-color: #ffe6b6;
}

.time-line2 {
    background-color: #fff7d9;
}

.time-line3 {
    background-color: #53ccec;
}

.time-line4 {
    background-color: #fff;
}

.c-backtop {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: fixed;
    right: -100px;
    bottom: 50px;
    z-index: 999;
    border-radius: 50%;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
    background: #0080cc;

    &.active {
        right: 20px;
    }

    &__btn {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        color: #000;
        line-height: 60px;

        &::after {
            content: "";
            width: 0px;
            height: 0px;
            border-top: 12px solid #fff;
            border-left: 12px solid transparent;
            position: absolute;
            left: calc(50% - 6px);
            top: calc(50% - 2px);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}
